* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('./image/back.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

main {
    display: flex;
    flex-direction: column;

}

.title {
    color: #ffcc00;
    margin: 20vh auto;
    font-size: calc(5vh + 20px);
    text-shadow: 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black,
                 0 0 10px black;
}

.container {
    /* background-color: white; */
    width: 90vw;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
}

.key{
    display: flex;
    width: 100px;
    height: 100px;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: calc(3vw + 20px);
    background-color: #000000BB;
    border: 3px solid white;
    user-select: none;
    cursor: pointer;
    border-radius: 30%;
}

.key:hover {
    
}